@model ECommerceWeb.MVC.Models.AuthViewModels.RegisterViewModel

@{
     ViewData["Title"] = "Signup";
}

@section Styles {
    <link rel="stylesheet" href="~/css/auth-style.css" asp-append-version="true" />
}

<div class="auth-wrapper">
    <div class="container">
        <div class="login form"> 
            <header>Signup</header>
            <form asp-action="Register" method="post">
                <div class="checkout__input">
                    <p>Email <span>*</span></p>
                    <input asp-for="Email" type="email" placeholder="Enter your email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="checkout__input">
                    <p>Password <span>*</span></p>
                    <input asp-for="Password" type="password" placeholder="Create a password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="checkout__input">
                    <p>Confirm Password <span>*</span></p>
                    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm your password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="site-btn">Signup</button>
            </form>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="text-danger mt-2">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }

            <div class="signup">
                <span class="signup">
                    Already have an account?
                    <a asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                </span>
            </div>
        </div>
    </div>
</div>