@{
    ViewData["Title"] = "Ürün Sil";
    var id = ViewBag.Id;
}

<h1 class="mb-4 text-danger">Ürün Sil</h1>

<div class="alert alert-warning">
    <p><strong>Dikkat!</strong> Bu işlem, Id değeri <strong>@id</strong> olan ürünü silmek için kullanılacaktır.</p>
    <p>gercek sılme yapamayorsun guzum ılerıkı haftalarda bunu yapacaksın merak etme .</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" name="Id" value="@id" />
    <button type="submit" class="btn btn-danger">Ürünü Sil</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary ms-2">Vazgeç</a>
</form>
