@using ECommerce.Web.Mvc
@using ECommerce.Web.Mvc.Models
@using ECommerce.Web.Mvc.Models.Category
@using ECommerce.Web.Mvc.Models.Home
@{
    ViewData["Title"] = "About Us";
    ViewData["PageTitle"] = ViewData["Title"];  // Dinamik baþlýk
    var isAdmin = User.IsInRole("Admin");
    var categories = ViewBag.Categories as List<CategoryViewModel> ?? new List<CategoryViewModel>();
    var productListingViewModel = new ProductListingViewModel
    {
        Categories = categories
    };
}

@Html.Partial("_HeroSection", productListingViewModel)


<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 mx-auto text-center">

                <img src="/img/logo.png" class="img-fluid d-block mx-auto" style="width: 100px; margin-bottom: 30px; border-radius:5px;" alt="Logo">

                <div class="about__text">
                    <div class="section-title">
                        <h2>Who We Are</h2>
                    </div>

                    <p>
                        We are an organic farm located in the heart of nature. Since 2010, we have been providing
                        fresh, healthy, and 100% organic vegetables to our customers.
                    </p>

                    <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                        Pellentesque in ipsum id orci porta dapibus.
                    </p>

                    <a asp-controller="Home" asp-action="Contact" class="primary-btn">CONTACT</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact spad" style="padding-top: 0;">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Why Choose Us?</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_check_alt2"></span>
                    <h4>100% Organic</h4>
                    <p>We do not use any chemicals in our products.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_loading"></span>
                    <h4>Fast Delivery</h4>
                    <p>We deliver your orders fresh within 24 hours.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_wallet"></span>
                    <h4>Secure Payment</h4>
                    <p>100% secure payment with credit card or cash.</p>
                </div>
            </div>

        </div>
    </div>
</section>