@using ECommerce.Web.Mvc
@using ECommerce.Web.Mvc.Models
@using ECommerce.Web.Mvc.Models.Category
@using ECommerce.Web.Mvc.Models.Home

@{
    ViewData["Title"] = "Contact Us";
    ViewData["PageTitle"] = ViewData["Title"];  // Dinamik baþlýk
    var isAdmin = User.IsInRole("Admin") || User.IsInRole("SystemAdmin");
    var categories = ViewBag.Categories as List<CategoryViewModel> ?? new List<CategoryViewModel>();
    var productListingViewModel = new ProductListingViewModel
    {
        Categories = categories
    };
 }

@Html.Partial("_HeroSection", productListingViewModel)


<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Phone</h4>
                    <p>+01-3-8888-6868</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Address</h4>
                    <p>60-49 Road 11378 New York</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Open time</h4>
                    <p>10:00 am to 23:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>hello@colorlib.com</p>
                </div>
            </div>
        </div>
    </div>
</section>


    //--HARÝTA ALANI----

<div class="map">
    <iframe src="https://maps.google.com/maps?q=New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>New York</h4>
            <ul>
                <li>Phone: +12-345-6789</li>
                <li>Add: 16 Creek Ave. Farmingdale, NY</li>
            </ul>
        </div>
    </div>
</div>

    //-------ÝLETÝÞÝM FORMU-----

<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Leave Message</h2>
                </div>
            </div>
        </div>
        <form method="post" asp-controller="Home" asp-action="Contact">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" name="Name" placeholder="Your name">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="email" name="Email" placeholder="Your Email">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea name="Message" placeholder="Your message"></textarea>
                    <button type="submit" class="site-btn">SEND MESSAGE</button>
                </div>
            </div>
        </form>
    </div>
</div>